body {
    background: rgb(255,235,205);
}

#nameTitle {
    text-align: center;
    font-size: 32px;
}

#nav-ul {
    font-family: Courier New, Times, "Times New Roman", serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.nav {
    float: left;
}

.nav-bar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.title-animation {
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro-wrapper {
    display: inline-flex;
}
.dynamic-text li {
    font-family: "Poppins", sans-serif;
    list-style: none;
    font-size: 45px;
    font-weight: 500;
}
.dynamic-text li span {
    position: relative;
}
.dynamic-text li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(255,235,205);
    border-left: 2px solid;
    animation: typing 1.5s steps(15) infinite;
}
@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}